<div id="dashboard">

      <a class="col-12 col-md-4" href="/dashboard/chat-room">Join Chat Room Here!</a>

      <div id="map-and-images">
            <img id="map" class="col-12" src="https://i.imgur.com/9kpInNH.png " title="map"/>
            <div id="tarot">
                  <a href="/dashboard/chat-room">
                  <img id="artificer" class="col-4" src="https://i.imgur.com/yCX4gHh.png" alt="the artificer tarot card" />
                  </a>
                  <a href="/dashboard/edituser/:">
                  <img id="paladin" class="col-4" src="https://i.imgur.com/efUBxx7.png" alt="the paladin tarot card" />
                  </a>
                  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                  <img id="bard" class="col-4" src="https://i.imgur.com/JE3KW56.png" alt="the bard tarot card" />
                  </a>
            </div>
      </div>


</div> 


{{!-- https://i.imgur.com/SPsSvd3.png - the card master
https://i.imgur.com/8YwrLVK.png - the dm
USED https://i.imgur.com/efUBxx7.png - pally
USED https://i.imgur.com/yCX4gHh.png - artificer
USED https://i.imgur.com/JE3KW56.png - bard
https://i.imgur.com/FNmKnya.png - open journal

https://www.youtube.com/watch?v=dQw4w9WgXcQ -rickroll
https://roll20.net/ -r20 --}}