<div id="dashboard">
      <a class="col-12 col-md-4" id="logout" class="btn-no-style col-12 col-md-4 col">Logout</a>
      <div id="map-and-images">
            <img id="map" class="col-12" src="https://i.imgur.com/9kpInNH.png " title="map"/>
            <div id="tarot">
                  <a href="/dashboard/chat-room">
                  <img id="artificer" class="col-4" src="https://i.imgur.com/c1r8LYk.png" alt="the artificer tarot card" />
                  </a>
                  <a href="/dashboard/edituser/:">
                  <img id="paladin" class="col-4" src="https://i.imgur.com/fn3OZBm.png" alt="the paladin tarot card" />
                  </a>
                  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                  <img id="bard" class="col-4" src="https://i.imgur.com/Hp4TeQ1.png" alt="the bard tarot card" />
                  </a>
            </div>
      </div>
</div> 
