<div class="st">

  <div class="st-top">
    <div class="st-bound st-bound-full"></div>
    <p><span class="st-drop st-stranger-s">D</span><span class="st-stranger-t">R</span><span class="st-stranger-r">A</span><span class="st-stranger-a">g</span><span class="st-stranger-n">o</span><span class="st-stranger-g">n</span><span class="st-stranger-e">s</span><span class="st-drop st-stranger-r-2"></span>
    </p>
    <div class="st-bound st-bound-mini st-bound-left"></div>
    <div class="st-bound st-bound-mini st-bound-right"></div>
  </div>

  <div class="st-bottom">
    <p><span class="st-things-t">&</span><span class="st-things-h">C</span><span class="st-things-i">H</span><span class="st-things-n">A</span><span class="st-things-g">T</span><span class="st-things-s">s</span></p>
  </div>

</div>