<form class="login-form">
    <div>
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" type="button" class="btn btn-outline-danger">login</button>
    </div>
  </form>
  
  <a href="/signup">Don't have an account? Create one here!</a>
  
  <script src="/javascript/login.js"></script>